.Header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  will-change: transform;
}

.Wrapper {
  position: relative;
  width: calc(100% - 120px);
  max-width: 1600px;
  margin: 0 auto;

  &.Wrapper_FullWidth {
    max-width: 100%;
  }
}

.MenuButton {
  width: 44px;
  height: 44px;
  position: absolute;
  right: -7px;
  top: 20px;
  background: none;
  border: none;
  cursor: pointer;

  .MenuButton__Line {
    position: absolute;
    width: 30px;
    height: 2px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background: #ffffff;

    &.MenuButton__InactiveTop {
      bottom: 6px;
      transition: opacity 0.2s, transform 0.3s ease-out;
    }

    &.MenuButton__InactiveBottom {
      top: 6px;
      transition: opacity 0.2s, transform 0.3s ease-out;
    }

    &.MenuButton__ActiveTop {
      transform: rotate(45deg) scaleX(0.7);
      opacity: 0;
      transition: opacity 0.2s, transform 0s ease 0.2s;
    }

    &.MenuButton__ActiveBottom {
      transform: rotate(-45deg) scaleX(0.7);
      opacity: 0;
      transition: opacity 0.2s, transform 0s ease 0.2s;
    }
  }

  &.MenuButton_Active {
    .MenuButton__InactiveTop,
    .MenuButton__InactiveBottom {
      opacity: 0;
      transform: scaleX(0.7);
      transition: opacity 0.1s, transform 0s ease 0.1s;
    }

    .MenuButton__ActiveTop {
      opacity: 1;
      transform: rotate(45deg) scaleX(1);
      transition: opacity 0.1s, transform 0.3s ease-out;
    }

    .MenuButton__ActiveBottom {
      opacity: 1;
      transform: rotate(-45deg) scaleX(1);
      transition: opacity 0.1s, transform 0.3s ease-out;
    }
  }
}
